<?xml version="1.0"?>

<launch>

  <node pkg="exploration_server" type="plugin_client" name="plugin_client" output="screen"/>

  <node pkg="exploration_server" type="exploration_server_node" name="exploration_server_node" output="screen">

    <param name="frequency" value="1.0"/> -->
    <param name="frequency" type="double" value="1.0"/>
    <!--param name="goal_aliasing" type="double" value="0.2"/-->
    <rosparam ns="explore_costmap" subst_value="true"
              file="$(find engix_navigation)/config/exploration.yaml" command="load" />
  </node>
    <!-- Should be less than sensor range -->
    <!-- <param name="goal_aliasing" value="2.0"/

    <rosparam file="$(find husky_navigation)/config/costmap_common.yaml" command="load" ns="explore_costmap" />
    <rosparam file="$(find husky_navigation)/config/costmap_exploration.yaml" command="load" ns="explore_costmap" />
-->

</launch>
