[submodule "all/ws/src/catkin_simple"]
	path = 3rd_party/catkin_simple
	url = git@github.com:catkin/catkin_simple.git
[submodule "all/ws/src/elevation_mapping"]
	path = 3rd_party/elevation_mapping
	url = git@github.com:ANYbotics/elevation_mapping.git
[submodule "all/ws/src/grid_map"]
	path = 3rd_party/grid_map
	url = git@github.com:ANYbotics/grid_map.git
[submodule "all/ws/src/kindr"]
	path = 3rd_party/kindr
	url = git@github.com:ANYbotics/kindr.git
[submodule "all/ws/src/kindr_ros"]
	path = 3rd_party/kindr_ros
	url = git@github.com:ANYbotics/kindr_ros.git
[submodule "all/ws/src/velodyne_simulator"]
	path = 3rd_party/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
[submodule "3rd_party/tracking_pid"]
	path = 3rd_party/tracking_pid
	url = git@github.com:nobleo/tracking_pid.git
[submodule "3rd_party/full_coverage_path_planner"]
	path = 3rd_party/full_coverage_path_planner
	url = git@github.com:nobleo/full_coverage_path_planner.git
[submodule "3rd_party/frontier_exploration"]
	path = 3rd_party/frontier_exploration
	url = git@github.com:paulbovbel/frontier_exploration.git
[submodule "3rd_party/reach_ros_node"]
	path = 3rd_party/reach_ros_node
	url = https://github.com/rpng/reach_ros_node.git
[submodule "3rd_party/zed_ros_wrapper"]
	path = 3rd_party/zed_ros_wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "3rd_party/zed-ros-wrapper"]
	path = 3rd_party/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "experiments/try-amslab-dwa-planner/dwa_planner"]
	path = experiments/try-amslab-dwa-planner/dwa_planner
	url = https://github.com/amslabtech/dwa_planner.git
[submodule "apps/studio"]
	path = apps/studio
	url = git@github.com:kantengri/studio.git
