<launch>
    <node name="cartographer_node" pkg="cartographer_ros"
          type="cartographer_node" args="
          -configuration_directory $(find engix_robot)/config
          -configuration_basename engix.lua"
          output="screen">
        <remap from="echoes" to="horizontal_laser_2d" />
    </node>

    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
          type="cartographer_occupancy_grid_node" args="-resolution 0.1" />
</launch>
