<?xml version="1.0"?>

<launch>
    <!--Teleop -->
    <!--include file="$(find engix_control)/launch/teleop.launch" /-->
    <!--node name="cpu" pkg="diagnostic_common_diagnostics" type="cpu_monitor.py"/-->


    <!-- Diagnostic Aggregator -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
        <rosparam command="load" file="$(find engix_control)/config/diagnostics.yaml"/>
    </node>

</launch>
