<?xml version="1.0"?>

<launch>

  <arg name="robot_namespace" default="/"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <group ns="$(arg robot_namespace)">
       
     <!-- <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" /> -->

    <!-- Spawn robot in gazebo -->
    <node name="spawn_engix_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model engix
              -robot_namespace $(arg robot_namespace)" />
    <!-- <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /> -->

  </group>

</launch>
