<launch>
    <arg name="robot" default="turtlebot"/>

    <group if="$(eval robot == 'turtlebot')">
        <rosparam command="load" file="$(find engix_planning)/params/model/turtlebot.yaml" ns="planner/model" />
        <rosparam command="load" file="$(find engix_planning)/params/nodes/turtlebot.yaml" ns="planner/" />
        <rosparam command="load" file="$(find engix_planning)/params/topics/turtlebot.yaml" ns="planner/topics" />
    </group>


    <group if="$(eval robot == 'ya_model')">
        <rosparam command="load" file="$(find engix_planning)/params/model/mower.yaml" ns="planner/model" />
        <rosparam command="load" file="$(find engix_planning)/params/nodes/mower.yaml" ns="planner/" />
        <rosparam command="load" file="$(find engix_planning)/params/topics/mower.yaml" ns="planner/topics" />
    </group>

</launch>