<launch>
    <node name="RoutePlannerNode" pkg="route_planner" type="main.py" respawn="true" respawn_delay="5" output="screen"/>
    <node name="CoveragePlannerNode" pkg="route_planner" type="coverage_planner_main.py" respawn="true" respawn_delay="5" output="screen"/>
    <node name="PathPlannerManager" pkg="route_planner" type="path_planner_manager.py" respawn="true" respawn_delay="5" output="screen"/>

</launch>
