<?xml version="1.0"?>
<launch>


  <arg name="robot_namespace" default="/"/>
  <arg name="enable_ekf" default="true"/>



  <include file="$(find engix_description)/launch/description.launch" />
  <include file="$(find engix_gazebo)/launch/spawn_engix.launch"/>




  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find engix_control)/config/control.yaml" />


  <!-- <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="true" output="screen"
        args="engix_joint_publisher">
  </node> -->
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="engix_joint_publisher engix_velocity_controller"/>


  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find engix_control)/config/localization.yaml" />
          <!-- Frequency of the main run loop. -->
      <param name="frequency" value="10"/>
      <!-- <param name="sensor_timeout" value="0.1"/> -->
      <!-- <param name="transform_timeout" value="0.1"/> -->
      <!-- <param name="odom_frame" value="base_link_origin"/>
      <param name="base_link_frame" value="base_link"/>
      <param name="world_frame" value="world"/>
      <param name="map_frame" value="world"/>
      <param name="two_d_mode" value="false"/>
      <param name="print_diagnostics" value="true"/> -->
      <param name="publish_tf" value="true"/>
      <param name="transform_time_offset" value="0.05"/> 
    </node>
  </group>

    <!--  Placeholder for output topic remapping -->
  <remap from="odometry/filtered" to="odom"/>
    <!--remap from="accel/filtered" to=""/> -->

    
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen">
    <param name="link_name" value="base_link" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
  
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find engix_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="engix_velocity_controller/cmd_vel"/>
  </node>



</launch>